<!-- Conteúdo principal -->
<div class="container mt-5">
  <h2 *ngIf="sorteado" class="text-center">Sorteio: {{ticketSorteio.descricaoSorteio}}</h2>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <span *ngIf="sorteado">
      <h1>Número do Sorteado: {{ticketSorteio.numero}}</h1>
      <p>Nome do Contemplado: {{ticketSorteio.nomeParticipanteSorteio}}</p>
      </span>
      <div class="form-group">
      <button class="btn btn-success btn-lg"  (click)="openDialog()">Sortear</button>
      <button  *ngIf="sorteado"   class="btn btn-info btn-lg" (click)="limpar()">Limpar</button>
      </div>
    </div>
  </div>
</div>


