<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand"  [routerLink]="['/sorteio/home']">Meu Sorteio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <app-menu-login></app-menu-login>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sorteio/sala-sorteio']">Sorteio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sorteio/dados-sorteio/listar-todos']">Dados do sorteio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sorteio/participante-sorteio/listar-todos']">Participantes do Sorteio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sorteio/ticket-sorteio/listar-todos']">Tickets do Sorteio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sorteio/historico-sorteio/listar-todos']">Histórico do Sorteio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
