<div class="container">
  <h5>Editar Participante</h5>
  <form [formGroup]="participanteSorteioForm" (ngSubmit)="editar()" class="row g-3">
    <div class="mb-3">
      <input type="hidden" id="id" name="id" value="">
    </div>
    <div class="col-md-6">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control form-control-sm" id="nome" formControlName="nome">
    </div>
    <div class="col-md-3">
      <label for="cep" class="form-label">CEP:</label>
      <input type="text" cep (blur)="buscarCep($event.target.value)" class="form-control form-control-sm" id="cep"
        [ngClass]="{ 'is-invalid': displayMessage.cep }" formControlName="cep">
    </div>
    <div class="col-md-3">
      <label for="logradouro" class="form-label">Logradouro:</label>
      <input type="text" class="form-control form-control-sm" id="logradouro" formControlName="logradouro">
    </div>
    <div class="col-md-3">
      <label for="numero" class="form-label">Número:</label>
      <input type="text" class="form-control form-control-sm" id="numero" formControlName="numero">
    </div>
    <div class="col-md-3">
      <label for="complemento" class="form-label">Complemento:</label>
      <input type="text" class="form-control form-control-sm" id="complemento" formControlName="complemento">
    </div>
    <div class="col-md-3">
      <label for="estado" class="form-label">Estado:</label>
      <select class="form-select form-select-sm" id="estado" formControlName="estado">
        <option value="">Selecione o Estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="cidade" class="form-label">Cidade:</label>
      <input type="text" class="form-control form-control-sm" id="cidade" formControlName="cidade">
    </div>
    <div class="col-md-3">
      <label for="bairro" class="form-label">Bairro:</label>
      <input type="text" class="form-control form-control-sm" id="bairro" formControlName="bairro">
    </div>
    <div class="col-md-3">
      <label for="telefone" class="form-label">Telefone:</label>
      <input type="text" class="form-control form-control-sm" id="telefone" formControlName="telefone">
    </div>
    <div class="col-md-3">
      <label for="email" class="form-label">E-mail:</label>
      <input type="email" class="form-control form-control-sm" id="email" formControlName="email">
    </div>
    <div class="col-md-3">
      <label for="cpf" class="form-label">CPF:</label>
      <input type="text" class="form-control form-control-sm" id="cpf" formControlName="cpf">
    </div>
    <div class="form-group">
      <input type="submit" value="Editar" class="btn btn-primary">&nbsp;
      <a class="btn btn-info" [routerLink]="[ '/sorteio/participante-sorteio/listar-todos']">Voltar</a>
  </div>
  </form>
</div>
