<div class="container mt-5">



  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title text-center">Login</h3>
              </div>
              <div class="card-body">
                <form novalidate
                    (ngSubmit)="login()"
                      [formGroup]="loginForm">

                    <div class="alert alert-danger" *ngIf="errors.length > 0">
                      <h3 id="returnMessage">
                          An Error Occurred!!
                      </h3>

                      <ul>
                          <li *ngFor="let error of errors">
                              {{ error }}
                          </li>
                      </ul>
                  </div>


                      <div class="mb-3">
                          <label for="email" class="form-label">Email:</label>

                          <input type="email" class="form-control"
                                              id="email"
                                              placeholder="E-mail (requerido)"
                                              required="required"
                                              formControlName="email"
                                              [ngClass]="{'is-invalid': displayMessage.email }">
                                              <span class="text-danger" *ngIf="displayMessage.email">
                                                <p [innerHTML]="displayMessage.email"></p>
                                            </span>
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Senha:</label>
                          <input class="form-control" id="password" type="password" placeholder="Senha (requerido)" formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }"/>
                              <span class="text-danger" *ngIf="displayMessage.password">
                                      <p [innerHTML]="displayMessage.password"></p>
                              </span>
                      </div>
                      <div class="d-grid gap-2 mb-3">
                          <button type="submit"
                                  id="Login"
                                  class="btn btn-primary btn-block"
                                  [disabled]="!loginForm.valid">Entrar</button>

                      </div>
                      <div class="text-center">
                          <p>Não possui uma conta? <a [routerLink]="['/signin/register']">Registre-se aqui</a>.</p>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
