<div class="container main-container">
  <h1>Detalhes do {{ dadosSorteio.descricao }}</h1>

  <div>
      <h4>Informação somente leitura</h4>
      <hr />
      <dl class="row">
          <dt class="col-sm-2">
          <label class="control-label">Descrição</label>
      </dt>
          <dd class="col-sm-10">
              {{ dadosSorteio.descricao }}
          </dd>
          <dt class="col-sm-2">
              <label class="control-label">Prêmio</label>
      </dt>
          <dd class="col-sm-10">
              {{dadosSorteio.premio }}
          </dd>
          <dt class="col-sm-2">
              <label class="control-label">Valor</label>
      </dt>
      <dd class="col-sm-10">
        {{dadosSorteio.valorPremio }}
      </dd>
      </dl>
  </div>


  <div>
      <a class="btn btn-dark" [routerLink]="['/sorteio/dados-sorteio/editar',dadosSorteio.id]">Editar</a>&nbsp;
      <a class="btn btn-info" [routerLink]="['/sorteio/dados-sorteio/listar-todos']">Voltar</a>
  </div>
</div>
